.App {
    text-align: center;
    justify-content: center;
}

.inputTask {
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.inputTask:focus {
    outline: none;
}

.confirmButton {
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: 300ms;
}

.confirmButton:hover {
    background-color: bisque;
    transition: 300ms;
}

.bodyBox {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100%;
    background-color: #303030;
    color: white;
}

.inputBox {
    display: inline-flex;
    justify-content: space-between;
}